<footer class="footer">
        <div class="footer-logo">
            <img src="/images/logo3.png" alt="logo image" width="100%"  height="100vh">
        </div>
        <div class="footer-copyright">
            <p>copyright@Bushra 2025</p>
        </div>
        <div class="footer_digital-platforms">
            <h4>Join Network</h4>
            <a href="https://www.facebook.com/cmeducations" class="facebook">
                <img src="/images/facebook.gif" alt="Facebook-logo">
            </a>
            <a href="https://www.instagram.com/cmeducations/?hl=en" class="instagram">
                <img src="/images/instagram.gif" alt="Instagram-logo">
            </a>
            <a href="https://x.com/changemakeredu/status/1617471739998490625?mx=2" class="twitter">
                <img src="/images/twitter-bird.gif" alt="Twitter-logo">
            </a>
        </div>
</footer>