<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.headTitle ? headTitle : 'Nodewebsite' %></title>
    <link rel="stylesheet" href="/styles/style.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/sidebar.css"/>
    <link rel="stylesheet" href="/styles/main.css"/>
</head>