<main>
    <h1>Welcome to the Cars page</h1>
    <p>Discover the elegance and performance of Audi and BMW cars. Experience Audi's sophisticated design and advanced technology, or indulge in the dynamic driving pleasure of BMW. Explore our range of vehicles and find your perfect match today.</p>
    <% if (locals.allCars && allCars.length) { 
        const welcomeMessages = {
            Audi: "Welcome to Audi Cars page",
            BMW: "Welcome to BMW Cars page",
            default: "Welcome to the Website"
        }; %>
        <h3><%= welcomeMessages[locals.pageType] || welcomeMessages.default %></h3>
    <% } %>
    <div class="car-container" id="car-details">

    </div>
</main>
