.navbar-container {
    display: flex;
    justify-content: space-around;
    background-color: tomato;
    margin: 0;
    padding: 10px;
}

.navbar-container a.navbar {
    color: #fff;
    text-decoration: none;
    align-items: center;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-container a.navbar:hover {
    background-color: #fff;
    color: tomato;
    border-radius: 5px;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .navbar-container {
        display: flex;
    }

    .navbar-container a.navbar {
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }
}
